.App {
  font-family: sans-serif;
  text-align: center;
}

.calendar-main {
  height: 50vh; 
  width: calc(100vw - 160px);
}

.planby {
  padding: 0px !important;
}

.channel-item-label {
  color: #a0aec0;
  font-size: 14px;
}

.calendar-header {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #525252;
}