.contact-main {
    width: 100px;
    padding: 10px;
    cursor: pointer;
}

.contact-img {
    width: 100%;
    height: auto;
    padding: 10%;
    padding-bottom: 0%;
}

.contact-label {
    font-size: 18px;
    color: black;
    text-align: center;
}