.app {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.main {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 100px;
  background-color: #f2f3f7;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1;
}

/* various optimizations to styling, font clarity, etc. */

*, *:before, *:after {
  font-family: Inter, Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-stroke: .025em rgba(51,51,51,0.1);
  
  box-sizing: border-box;
  font-size: 0px;
}

/* scrollbar stuff */

/* width */
::-webkit-scrollbar{
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track{
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb{
  background: #aeaeae;
  opacity: 0.3;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
  background: #717171;
}